# Build directory
build

# Python bytecode
*.pyc

# Object files
*.so
*.pyd

# egg-info for inplace builds
bx_python.egg-info

# IDE project files
*.kpf

# windows shortcuts
*.lnk

# nose egg
nose*.egg

# .eggs directory
.eggs
