name: Lint and test
on: [push, pull_request]
concurrency:
  group: test-${{ github.ref }}
  cancel-in-progress: true
jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.14']
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true
          cache: pip
      - name: Install tox
        run: pip install tox
      - name: Lint
        run: tox -e lint
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true
          cache: pip
      - name: Install liblzo2-dev
        run: sudo apt-get update && sudo apt-get -y install liblzo2-dev
      - name: Install tox
        run: pip install tox
      - name: Test
        run: tox -e test
  test-32bit:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    env:
      C_COMPILER: i686-linux-gnu-gcc
      CFLAGS: -m32
    steps:
      - uses: actions/checkout@v4
      - name: install 32bit libraries
        run: sudo dpkg --add-architecture i386 && sudo apt update && sudo apt install -y gcc-i686-linux-gnu python3.10:i386 python3.10-minimal:i386 python3.10-dev:i386 python3-pip liblzo2-dev:i386
      - name: Install tox
        run: |
          export PYTHON=python3.10
          sudo -H $PYTHON -m pip install -U pip
          sudo -H $PYTHON -m pip install wheel virtualenv setuptools tox
      - name: Test
        run: tox -e test
